﻿html {
    overflow-y: scroll;
}



#location {
    width: 300px;
    height: 20px;
}

.deleteMessegeConfirm {
    display: none;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 12px;
}

.health {
    color: darkred;
    font-weight: 300;
    font-size: 20px;
}

.mana {
    color: darkblue;
    font-weight: 300;
    font-size: 20px;
}



.tiny {
    font-size: 10px;
    font-weight: bold;
    margin-left: 8px;
}

a {
    font-weight: bold;
}

.petItemInfo {
    float: left;
    position: relative;
    display: block;
    width: 450px;
    text-align: justify;
}



.newlinkgreen a {
    background-color: lightgreen !important;
}

.newlinkyellow a {
    background-color: yellow !important;
}


locationDescription {
    font-style: italic;
}

.navcell {
    max-width: 150px;
    max-height: 150px;
}

.formerPlayer {
    font-size: 9px;
    font-style: italic bold;
    color: darkolivegreen;
}



.goodEffectGroup{
    background-color:lightgreen;
    border: 1px solid green;
}

.badEffectGroup{
    background-color:pink;
    border: 1px solid red;
}


.mainPageWorldStats {
    border: 1px solid black;
    padding: 4px;
    background-color: lightcyan;
    width: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
}

.covenContainer {
    text-align: center;
}

.covName {
    color: darkblue;
    font-size: 25px;
}

.covHeader {
    color: darkviolet;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: -10px;
}

.covItem {
    border: 1px solid lightgray;
    padding: 5px;
    float: left;
    position: relative;
    width: 100%;
}

a.talkLink {
    background-color: white;
}


.subportrait {
    width: 100px;
    height: 100px;
    margin: 3px;
    background-size: 100% 100%;
    border: 2px solid violet;
    float: left;
}


.portrait-large {
    height: 200px;
    width: 200px;
    background-size: 100% 100%;
    position: relative;
    float: left;
}

.floorItemName {
    font-size: 11px;
}

.portrait_item_mainpage {
    height: 50px;
    width: 50px;
    background-size: 100% 100%;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}



.floorItemLevel {
    text-align: left;
    text-shadow: 1px 1px #FFF;
    position: relative;
    left: -8px;
    top: -2px;
}

.large {
    height: 400px;
    width: 400px;
    margin: 15px;
}



.onlineCharWrapper {
    width: 302px;
    height: 160px;
    display: block;
    float: left;
    margin-right: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.covonlineCharWrapper {
    margin-right: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-block;
}


.charwrapper {
    border: 1px solid lightgray;
    height: 100px;
    width: 302px;
    margin-right: 8px;
    margin-bottom: 10px;
    display: block;
    float: left;
    /*background-color: #FFFFEC;*/
}

    .charwrapper.bot {
        border: 1px solid pink;
        background-color: mistyrose;
        height: 100px;
        width: 302px;
        margin-right: 8px;
        margin-bottom: 10px;
        display: block;
        float: left;
        /*background-color: #FFFFEC;*/
    }

.commandWrapper {
    width: 300px;
    text-align: center;
    clear: both;
    border: 1px solid #D3D3D3;
    height: 32px;
    padding-top: 6px;
    margin-bottom: 20px;
}

.timeago {
    font-size: 10px;
    color: gray;
}

.form__panel {
    width: 99%;
    height: auto;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

    .form__panel textarea {
        width: 98%;
        height: 150px;
    }

    .form__panel input {
        width: 98%;
    }

        .form__panel input[type="checkbox"] {
            width: 20px;
        }

    .form__panel.group {
        width: 100%;
        height: auto;
        border: 1px solid darkblue;
        border-radius: 3px;
        padding: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        background-color: lightblue;
    }

    .form__panel.externalMessage {
        font-size: 15px;
        font-style: italic;
        font-weight: 600;
        border: 1px solid darkblue;
    }

    .form__panel select {
        width: 300px;
    }

#showOfflinePlayersButton {
    font-size: 15px;
    color: darkblue;
    font-weight: 600;
    border: 1px solid darkblue;
    width: 210px;
    text-align: center;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

    #showOfflinePlayersButton:hover {
        border: 1px solid darkred;
        color: darkred;
        background-color: lightpink;
        cursor: pointer;
    }

.healthWrapper {
    height: 10px;
    width: 100px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.healthBar {
    height: 10px;
    background-color: red;
}

.manaWrapper {
    height: 10px;
    width: 100px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}

.manaBar {
    height: 10px;
    background-color: blue;
}

.playerDescription {
    font-size: 11px;
    font-style: italic;
}

#logSize {
    text-align: left;
    display: block;
    float: left;
}

.icon-clock {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-image: url("../Images/PvP/Icons/icon-clock.png");
    display: inline-block;
}

    .icon-clock:hover {
        background-color: lightblue;
    }

.good {
    color: green;
    font-weight: 900;
}

.bad {
    color: red;
    font-weight: 900;
}

.zero {
    color: darkgray;
    font-weight: 900;
}

#attackModal {
    background-color: pink;
    display: none;
    position: fixed;
    left: 25%;
    width: 50%;
    height: auto;
    top: 30%;
    z-index: 1000;
    border: 3px solid red;
    padding: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#modalBackdrop {
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: rgba(1,0,0,0.75);
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
}


.talkLink {
    color: green;
    font-size: 18px;
    font-weight: 900;
    border: 2px solid green;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

    .talkLink:hover {
        color: darkviolet;
        cursor: pointer;
        border: 2px solid darkviolet;
    }


a.full {
    background-color: lightgreen;
}

    a.full:hover {
        background-color: white;
    }

a.inanimate {
    background-color: #B8DBFF;
}

    a.inanimate:hover {
        background-color: white;
    }

a.animal {
    background-color: #FFFF66;
}

    a.animal:hover {
        background-color: white;
    }

a.mindcontrol {
    background-color: violet;
}

    a.mindcontrol:hover {
        background-color: white;
    }

a.weaken {
    background-color: #FFAD5C;
}

    a.weaken:hover {
        background-color: white;
    }

a.curse {
    background-color: #DEBDFF;
}

    a.curse:hover {
        background-color: white;
    }

.perkBox {
    border: 2px solid #808080;
    padding: 5px;
    display: inline-table;
    width: 300px;
    margin-bottom: 5px;
    margin-right: 3px;
    height: 350px;
}

.perkBoxTitle {
    color: white;
    background: black;
    font-size: 20px;
    line-height: 40px;
}

.perkBoxStats {
    color: white;
    font-size: 10px;
    line-height: 20px;
    background: gray;
    width: 100%;
}

.effectturnsRemaining {
    color: darkblue;
    font-weight: 900;
}

.effectcooldownRemaining {
    color: darkviolet;
    font-weight: 900;
}

.oldrounds {
    border: 2px solid darkviolet;
    background-color: lightpink;
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.covRptName {
    color: darkviolet;
    font-size: 10px;
}



.inbetweenRoundNotice {
    width: 100%;
    height: auto;
    border: 2px solid red;
    font-size: 18px;
    text-align: center;
    background-color: #facdff;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 5px;
}


.testServerNotice {
    width: 100%;
    height: auto;
    border: 4px solid red;
    font-size: 18px;
    text-align: center;
    background-color: red;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
}

.activeBossNotice {
    width: 100%;
    height: auto;
    border: 2px solid red;
    font-size: 14px;
    text-align: center;
    background-color: #faff7e;
    margin-top: 3px;
    font-weight: 600;
    border-radius: 5px;
    color: black;
}


/*attack modal stuff*/

#expand, #toggle_all, #toggle_animates, #toggle_inanimates, #toggle_animal, #toggle_mindcontrol, #toggle_other {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid black;
    background-color: ivory;
    border-radius: 5px;
}

    #expand:hover {
        background-color: white;
    }

#duel_challenge {
    cursor: pointer;
    font-weight: 600;
    border: 1px solid black;
    background-color: orangered;
    border-radius: 5px;
}

    #duel_challenge:hover {
        background-color: white;
    }

#youAreAttacking {
    color: black;
    font-size: 15px;
}

#attackClose {
    color: darkblue;
    font-size: 15px;
    background-color: lightblue;
    cursor: pointer;
    font-weight: 900;
    border: 2px solid red;
    border-radius: 5px;
}

    #attackClose:hover {
        color: black;
        background-color: lightcyan;
        border: 2px solid black;
    }



#playerActionBox {
    text-align: center;
    clear: both;
    margin-bottom: 8px;
}

.returnButton {
    border-right: 2px solid #808080;
    display: block;
    clear: both;
    max-width: 100%;
    transition: background 1s ease;
    text-align: center;
    line-height: 42px;
    padding: 0;
    text-decoration: none;
}

    .returnButton:hover {
        background: #F0FFF0;
        border-bottom: 2px black solid;
        line-height: 38px;
        padding-top: 2px;
    }

.bioTitle {
    font-size: 24px;
    line-height: 48px;
    font-weight: bold;
    margin: 10px auto 0px auto !important;
    border: 2px solid black;
    background: lightgray;
    width: 600px;
}

.bioDesc {
    font-size: 18px;
    margin: 0px auto 10px auto !important;
    border: 2px solid black;
    border-top: none !important;
    background: #e2e2e2;
    width: 600px;
}

.bioDescImg {
    max-width: 150px;
    padding: 10px;
}

    .bioDescImg:first-child {
        padding-top: 20px;
    }

    .bioDescImg:last-child {
        padding-bottom: 15px;
    }

@media (max-width: 768px) {
    .bioTitle {
        width: 400px;
    }

    .bioDesc {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .bioTitle {
        font-size: 12px;
        line-height: 24px;
        width: 200px;
    }

    .bioDesc {
        font-size: 10px;
        width: 200px;
    }
}

.textBio a {
    background: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.textBio {
    text-align: center;
}

    .textBio p {
        margin: 0;
        padding: 0px 20px 0px 20px;
    }

#timerBox {
    color: white;
    line-height: 46px;
    cursor: pointer;
}

#attackModal a {
    height: auto;
    width: auto;
    font-size: 14px;
    padding: 1px;
    margin: 1px;
    border: 1px solid black;
    line-height: 14px;
}

.listdots li {
    list-style-type:circle;
    list-style-position: outside;
    list-style-image: none;
    /*display: block;*/
    border-radius: 5px;
    text-align: left;
    margin: 10px 0px;
}

.listdots hr {
    border-top: 3px dotted #A16969;
}

.listdots p {
    font-size: 18px;
}

.specialNoticeBox {
    background-color: orange;
}